html{
    font-size: 62.5%;
}
*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right bottom, rgba(rgb(0, 174, 255), 0.8), rgba(rgb(233, 78, 104),0.7)),url(../img/outdoor.jpg);
    background-size: cover;
    background-position: top;
}
.idea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;  
    text-align: center;

    .topic{
        font-family: 'Dancing Script', cursive;
        font-size: 6rem;
        letter-spacing: 0.2rem;
        animation: moveinleft 3s;

        @media (min-width: 576px) {
            font-size: 7.5rem;
            letter-spacing: 0.2rem;
        }
          
        @media (min-width: 768px) {
            font-size: 10rem;
            letter-spacing: 0.3rem;
        }
          
        @media (min-width: 992px) {
            font-size: 15rem;
            letter-spacing: 0.4rem;
        }
          
        @media (min-width: 1200px) {
            font-size: 20rem;
            letter-spacing: 0.5rem;
        }
          
        &-sub{
            font-family: 'Courier New', Courier, monospace;
            font-size: 2rem;
            letter-spacing: 0.125rem;
            animation: moveinright 3s;

            @media (min-width: 576px) {
                font-size: 2rem;
                letter-spacing: 0.25rem;
            }  
            @media (min-width: 768px) {
                font-size: 3rem;
                letter-spacing: 0.5rem;
            } 
            @media (min-width: 992px) {
                font-size: 4rem;
                letter-spacing: 0.075rem;
            }
              
            @media (min-width: 1200px) {
                font-size: 5rem;
                letter-spacing: 0.1rem;
            }
        }
    }
}
@keyframes moveinleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveinright {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    60% {
        
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.horizontal{
    display: block;
    height: 5px;
    width: 200px;
    background: #ffffff;
}
.vertical{
    display: block;
    height: 200px;
    width: 5px;
    background: #ffffff;
}
.top-left{
    position: absolute;
    left: 5vw;
    top: 5vh;

    > .horizontal{
        position: relative;
        top: 0;
    }

    > .vertical{
        position: relative;
        left: 0;
    }
}
.bottom-right{
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    transform: rotateY(180deg)rotateX(180deg);

    > .horizontal{
        position: relative;
        bottom: 0;
    }

    > .vertical{
        position: relative;
        right: 0;
    }
}
a{
    text-decoration: none;
    margin-top: 3rem;
}
.btn{
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Dancing Script';
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.75rem 5rem;
    font-size: 2.5rem;
    line-height: 1;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;

    &::after{
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &:hover {
        color: #ffffff;
        text-decoration: none;
    }
    

    &-light{
        background-color: transparent;
        color: #ffffff;
        border-color: #ffffff;

        &::after{
            background-color: transparent;
        }
    }
}
  