<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <link rel="stylesheet" href="../css/tailwind.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body class="bg-gray-800" onload="">
    <div id="home" class="">
        <header class="fixed top-0 w-full text-pink-400 bg-gray-800 z-10">
            <div class="sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-4">
                <div class="px-10 py-1 flex items-center justify-between">
                    <a href="home.html" class="text-3xl font-black font-dance">LakeSide</a>
                    <div class="sm:hidden">
                        <button @click="menu = !menu" type="button" class="block fill-current focus:outline-none">
                            <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path v-if="menu" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
                                <path v-if="!menu" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div :class="menu ? 'block': 'hidden' " class="px-1 pt-2 pb-4 sm:flex sm:p-0 ">    
                    <a href="home.html" class=" nav-link block text-xl font-bold hover:text-gray-800 hover:bg-pink-400 px-4 py-2 rounded md:ml-5">Home</a>
                    <a href="tours.html" class=" nav-link block text-xl font-bold hover:text-gray-800 hover:bg-pink-400 px-4 py-2 rounded md:ml-5">Tours</a>
                    <a href="treats.html" class=" nav-link block text-xl font-bold hover:text-gray-800 hover:bg-pink-400 px-4 py-2 rounded md:ml-5">Treats</a>
                    <a href="#contact" class=" nav-link block text-xl font-bold hover:text-gray-800 hover:bg-pink-400 px-4 py-2 rounded md:ml-5">Contacts</a>                   
                </div>
            </div>
            <hr class="border-pink-400 mx-5">
        </header>
        
        <main class="px-3 py-5">
            <!-- home -->
            <div id="top" class="home nav-pages">
                <div class="flex">
                    <div class="px-8 py-12 max-w-md mx-auto sm:max-w-xl lg:max-w-full lg:w-1/2 lg:py-24 lg:px-12">                    
                        <img class="rounded-lg sm:h-64 w-full sm:object-cover sm:object-center lg:hidden" src="../img/outdoor.jpg" alt="river scene">
                        <h1 class="mt-4 sm:mt-6 text-xl font-bold text-pink-400 leading-loose sm:text-3xl">
                            Tour in best parts of the world.<br class="hidden md:inline">
                            <span class="text-pink-200">Get to Release Stress.</span>
                        </h1>
                        <p class=" mt-2 sm:mt-4 text-white sm:text-xl">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora nostrum unde tempore, ipsa, ullam animi voluptatem aperiam praesentium quae, natus recusandae magni autem laboriosam iusto. Quia quos repellendus dolores dolor.
                        </p>
                        <div class="mt-5 sm:mt-7">
                            <a href="tours.html" class="link inline-block bg-pink-400 text-gray-800 font-bold border border-pink-400 rounded px-4 py-2 hover:bg-gray-800 hover:text-pink-400 uppercase">Take a Tour</a>
                        </div>
                    </div>
                    <div class="hidden lg:block lg:w-1/2 lg:relative lg:my-16 lg:mx-12">
                        <img class="absolute rounded-lg inset-0 h-full w-full object-cover object-center" loading="lazy" src="../img/outdoor.jpg" alt="river scene">
                    </div>                    
                </div>

                <!-- accomodation -->
                <div class="px-8 py-12 mx-auto">
                    <h1 class="font-dance text-3xl text-pink-400 font-bold text-center sm:text-4xl md:text-8xl">Accomodation</h1>
                    <p class="mt-2 sm:mt-4 text-white sm:text-xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione aut velit id cum? Unde rem voluptates eligendi delectus quia facilis! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates laboriosam quia praesentium sint, obcaecati tempore fugit sapiente quisquam rerum explicabo vero non saepe dignissimos animi nesciunt voluptatum dolorem. Quas, totam.</p>
                    <div class="flex flex-wrap">
                        <div class="w-full p-2 mt-2 xl:w-1/3 sm:w-1/2" v-for="bedroom in bedrooms">
                            <div class="flex items-center rounded-lg bg-pink-400 overflow-hidden">
                                <img class=" h-56 w-1/2 object-top" :src="bedroom.image" loading="lazy" :alt="bedroom.imgdescription">
                                <div class="px-2 py-1">
                                    <h3 class="text-xl font-semibold text-gray-800"> {{bedroom.imgdescription}} </h3>
                                    <p class="pt-3 flex items-center">
                                        <svg v-for="star in 5" :key="star" :class="star <= bedroom.rating ? 'text-teal-600': 'text-gray-500'" class="w-4 h-4 fill-current " viewbox="0 0 24 24">
                                            <path d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z" />
                                        </svg>
                                    </p>
                                    <span class="text-gray-600 text-sm">{{ bedroom.votes }} votes</span>
                                    <div class="text-gray-600 text-sm uppercase font-semibold tracking-wide">
                                        {{ bedroom.likes }} likes &bull; {{ bedroom.dislikes }} dislikes
                                    </div>                                    
                                    <button @click="votelike(bedroom.id)" type="button" class="inline-block h-4 w-4 text-gray-800 focus:outline-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="fill-current h-6 w-6">
                                            <path d="M0 0h24v24H0V0z" fill="none"/>
                                            <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/>
                                        </svg>
                                    </button>
                                
                                    <button @click="votedislike(bedroom.id)" type="button" class="inline-block  h-4 w-4 text-pink-800 focus:outline-none ml-5">
                                        <svg xmlns="http://www.w3.org/2000/svg"  class="fill-current h-6 w-6">
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/>
                                        </svg>
                                    </button>                                                                                                                                                                                                                                           
                                    <div class="mt-1 md:mt-4 lg:mt-6">
                                        <a href="treats.html" class="link text-indigo-500 hover:text-indigo-400 tracking-tighter font-bold text-xl hover:transition hover:duration-100 hover:ease-out">Explore</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <a href="treats.html" class="link inline-block bg-pink-400 text-gray-800 font-bold border border-pink-400 rounded px-4 py-2 hover:bg-gray-800 hover:text-pink-400 uppercase">More</a>
                    </div>
                </div>
                <!-- spa -->
                <div class="px-8 py-12 mt-3 mx-auto">
                    <h1 class="font-dance text-3xl text-pink-400 font-bold text-center tracking-widest uppercase sm:text-4xl md:text-8xl">spa</h1>
                    <p class="mt-2 sm:mt-4 text-white sm:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam optio labore, mollitia sequi repellendus laborum recusandae sint tempora facilis odio? Explicabo amet soluta minus mollitia consectetur non vitae rerum velit, nostrum ipsa doloribus quisquam deleniti quaerat quis, necessitatibus ullam impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum unde repellat minima culpa facilis consectetur. Inventore velit ullam fugit ea harum officia nobis nihil, quasi laboriosam veritatis repellendus quae temporibus.</p>
                    <div class="">
                        <div class="flex flex-wrap">
                            <div class="w-full p-2 mt-2 sm:w-1/2 xl:w-1/3" v-for="treat in spa">
                                <div class="rounded inset-0 overflow-hidden">
                                    <div class="relative z-auto">
                                        <div class="bg-pink-400 h-64 md:h-80 lg:h-96 xl:h-120 w-full transition-opacity duration-700 ease-in bg-opacity-25 opacity-0 hover:opacity-100 hover:bg-opacity-50">
                                            <div class="text-white">
                                                <div class="opacity-100 absolute middle">
                                                    <div class="inline-block focus:outline-none text-white font-black text-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current inline item-center h-12 w-12">
                                                            <path d="M7.5 19.085c-.401 0-.778-.156-1.061-.438l-5.086-5.086c-.283-.283-.438-.659-.438-1.061s.156-.778.438-1.061l8.586-8.586c.487-.487 1.372-.854 2.061-.854h4.5c.827 0 1.5.673 1.5 1.5v4.5c0 .688-.367 1.574-.853 2.061l-8.586 8.586a1.488 1.488 0 01-1.061.438zM12 3c-.415 0-1.06.267-1.353.561l-8.586 8.586c-.094.094-.145.219-.145.354s.052.26.145.353l5.086 5.086c.094.094.219.145.354.145s.26-.052.354-.145l8.586-8.586c.293-.293.561-.939.561-1.354V3.5a.5.5 0 00-.5-.5h-4.5z"/>
                                                            <path d="M14.5 7c-.827 0-1.5-.673-1.5-1.5S13.673 4 14.5 4s1.5.673 1.5 1.5S15.327 7 14.5 7zm0-2a.5.5 0 100 1 .5.5 0 000-1z"/>
                                                        </svg><br>
                                                        <span class="leading-10 item-center tracking-widest text-2xl">{{treat.imgdescription}}</span>
                                                    </div> 
                                                </div> 
                                            </div>
                                        </div>                               
                                    </div>
                                    <img class="h-64 md:h-80 lg:h-96 xl:h-120  -mt-64 md:-mt-80 lg:-mt-96 xl:-mt-120 w-full object-cover" loading="lazy" :src="treat.image" :alt="treat.imgdescription">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <a href="treats.html" class="link inline-block bg-pink-400 text-gray-800 font-bold border border-pink-400 rounded px-4 py-2 hover:bg-gray-800 hover:text-pink-400 hover:transition hover:duration-100 hover:ease-out uppercase active:bg-red-500 active:text-pink-400">Take a Look</a>
                    </div>
                </div>
            </div>
           
        </main>
        <!-- contact -->
        <footer id="contact" class="px-8 py-12 mx-auto">
            <hr class="border-pink-400">
            <h1 class="text-pink-400 font-dance font-bold text-4xl md:text-8xl text-center capitalize">Contact us</h1>
            <p class="mt-1 sm:mt-4 text-white sm:text-xl capitalize text-center">get in touch with us.</p>
            <div class="flex flex-wrap mt-10">
                <div class="w-full md:w-1/3 text-center mt-10">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-12 m-auto">
                        <path d="M0 0h24v24H0V0z" fill="none"/>
                        <path d="M7 4h9v14H7z" fill="none"/>
                        <path d="M15.5 1h-8C6.12 1 5 2.12 5 3.5v17C5 21.88 6.12 23 7.5 23h8c1.38 0 2.5-1.12 2.5-2.5v-17C18 2.12 16.88 1 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z" fill="#f687b3" />
                    </svg>
                    <h3 class="text-pink-300 font-bold capitalize text-xl">Call Us at</h3>
                    <p class="text-gray-200 font-bold text-lg mt-3">9876-453-801</p>
                </div>
                <div class="w-full md:w-1/3 text-center mt-10">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-12 m-auto">
                        <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" fill="#f687b3" />
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <h3 class="text-pink-300 font-bold capitalize text-xl">email us</h3>
                    <p class="text-gray-200 font-bold text-lg mt-3">support@support.com</p>
                </div>
                <div class="w-full md:w-1/3 text-center mt-10">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-12 m-auto">
                        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" fill="#f687b3" />
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <h3 class="text-pink-300 font-bold capitalize text-xl">Main State City</h3>
                    <p class="text-gray-200 font-bold text-lg mt-3">Heaven Street, 234 Road</p>
                </div>
            </div>

            <div class="mt-10 px-8 py-12 mx-auto">
                <form action="/" method="POST" id="form">
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-1/2 px-2">
                            <div class="mt-10">
                                <div class="">
                                    <input type="text" name="name" id="name" class="border-2 border-gray-200 w-full h-12 rounded py-3 px-4 bg-pink-200 tracking-widest text-lg focus:outline-none focus:border-pink-400 focus:bg-gray-400" placeholder="*Name" aria-placeholder="Name" autocomplete="off">
                                </div>
                            </div>
                            <div class="mt-8">
                                <div class="">
                                    <input type="email" name="email" id="email" class="border-2 border-gray-200 w-full h-12 rounded py-3 px-4 bg-pink-200 tracking-widest text-lg focus:outline-none focus:border-pink-400 focus:bg-gray-400" placeholder="*Email" aria-placeholder="Email" autocomplete="off">
                                    <span class="email-valid"></span>
                                </div>
                            </div>
                        </div>
                        <div class="w-full md:w-1/2 px-2">
                            <div class="mt-10">
                                <div class="">
                                    <textarea rows="3" cols="50" type="text" name="comment" id="comment" class="border-2 border-gray-200 w-full h-32 rounded py-3 px-4 bg-pink-200 tracking-widest text-lg focus:outline-none focus:border-pink-400 focus:bg-gray-400" placeholder="*Comment" aria-placeholder="Comment" autocomplete="off"></textarea>
                                    <span class="comment-valid"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-2 pt-5">
                        <button type="submit" class="inline-block bg-pink-400 text-gray-800 font-bold border border-pink-400 rounded px-4 py-2 hover:bg-gray-800 hover:text-pink-400 focus:outline-none transition duration-100 ease-out uppercase">Submit</button>
                    </div>
                </form>
                <div class="text-center mt-10">
                    <p class="text-gray-400 font-bold text-4xl font-dance text-lg mt-3">©Lake<span class="text-pink-400">Side</span> 2020</p>
                </div>
                <div class="text-center mt-10 text-pink-400">
                    <a class="inline-block" href="#"> 
                        <svg class="h-8 md:h-12 fill-current mx-auto" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                            <path d="M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016 c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992 c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056 c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152 c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792 c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44 C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568 C480.224,136.96,497.728,118.496,512,97.248z"/>
                        </svg>
                    </a>
                    <a class="inline-block ml-2 md:ml-5" href="#">
                        <svg class="h-8 md:h-12 fill-current mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.977 511.977" fill="currentColor">
                            <path d="M262.948,0C122.628,0,48.004,89.92,48.004,187.968c0,45.472,25.408,102.176,66.08,120.16 c6.176,2.784,9.536,1.6,10.912-4.128c1.216-4.352,6.56-25.312,9.152-35.2c0.8-3.168,0.384-5.92-2.176-8.896 c-13.504-15.616-24.224-44.064-24.224-70.752c0-68.384,54.368-134.784,146.88-134.784c80,0,135.968,51.968,135.968,126.304 c0,84-44.448,142.112-102.208,142.112c-31.968,0-55.776-25.088-48.224-56.128c9.12-36.96,27.008-76.704,27.008-103.36 c0-23.904-13.504-43.68-41.088-43.68c-32.544,0-58.944,32.224-58.944,75.488c0,27.488,9.728,46.048,9.728,46.048 S144.676,371.2,138.692,395.488c-10.112,41.12,1.376,107.712,2.368,113.44c0.608,3.168,4.16,4.16,6.144,1.568 c3.168-4.16,42.08-59.68,52.992-99.808c3.968-14.624,20.256-73.92,20.256-73.92c10.72,19.36,41.664,35.584,74.624,35.584 c98.048,0,168.896-86.176,168.896-193.12C463.62,76.704,375.876,0,262.948,0z"/>
                        </svg>
                    </a> 
                    <a class="inline-block ml-2 md:ml-5" href="#">
                        <svg class="h-8 md:h-12 fill-current mx-auto" viewBox="0 0 24 24" fill="fillCurrent" xmlns="http://www.w3.org/2000/svg">
                            <path d="m23.994 24v-.001h.006v-8.802c0-4.306-.927-7.623-5.961-7.623-2.42 0-4.044 1.328-4.707 2.587h-.07v-2.185h-4.773v16.023h4.97v-7.934c0-2.089.396-4.109 2.983-4.109 2.549 0 2.587 2.384 2.587 4.243v7.801z"/>
                            <path d="m.396 7.977h4.976v16.023h-4.976z"/>
                            <path d="m2.882 0c-1.591 0-2.882 1.291-2.882 2.882s1.291 2.909 2.882 2.909 2.882-1.318 2.882-2.909c-.001-1.591-1.292-2.882-2.882-2.882z"/>
                        </svg>
                    </a>
                    <a class="inline-block ml-2 md:ml-5" href="#">
                        <svg class="h-8 md:h-12 fill-current mx-auto" fill="fillCurrent" viewBox="0 0 511 511.9"  xmlns="http://www.w3.org/2000/svg">
                            <path d="m510.949219 150.5c-1.199219-27.199219-5.597657-45.898438-11.898438-62.101562-6.5-17.199219-16.5-32.597657-29.601562-45.398438-12.800781-13-28.300781-23.101562-45.300781-29.5-16.296876-6.300781-34.898438-10.699219-62.097657-11.898438-27.402343-1.300781-36.101562-1.601562-105.601562-1.601562s-78.199219.300781-105.5 1.5c-27.199219 1.199219-45.898438 5.601562-62.097657 11.898438-17.203124 6.5-32.601562 16.5-45.402343 29.601562-13 12.800781-23.097657 28.300781-29.5 45.300781-6.300781 16.300781-10.699219 34.898438-11.898438 62.097657-1.300781 27.402343-1.601562 36.101562-1.601562 105.601562s.300781 78.199219 1.5 105.5c1.199219 27.199219 5.601562 45.898438 11.902343 62.101562 6.5 17.199219 16.597657 32.597657 29.597657 45.398438 12.800781 13 28.300781 23.101562 45.300781 29.5 16.300781 6.300781 34.898438 10.699219 62.101562 11.898438 27.296876 1.203124 36 1.5 105.5 1.5s78.199219-.296876 105.5-1.5c27.199219-1.199219 45.898438-5.597657 62.097657-11.898438 34.402343-13.300781 61.601562-40.5 74.902343-74.898438 6.296876-16.300781 10.699219-34.902343 11.898438-62.101562 1.199219-27.300781 1.5-36 1.5-105.5s-.101562-78.199219-1.300781-105.5zm-46.097657 209c-1.101562 25-5.300781 38.5-8.800781 47.5-8.601562 22.300781-26.300781 40-48.601562 48.601562-9 3.5-22.597657 7.699219-47.5 8.796876-27 1.203124-35.097657 1.5-103.398438 1.5s-76.5-.296876-103.402343-1.5c-25-1.097657-38.5-5.296876-47.5-8.796876-11.097657-4.101562-21.199219-10.601562-29.398438-19.101562-8.5-8.300781-15-18.300781-19.101562-29.398438-3.5-9-7.699219-22.601562-8.796876-47.5-1.203124-27-1.5-35.101562-1.5-103.402343s.296876-76.5 1.5-103.398438c1.097657-25 5.296876-38.5 8.796876-47.5 4.101562-11.101562 10.601562-21.199219 19.203124-29.402343 8.296876-8.5 18.296876-15 29.398438-19.097657 9-3.5 22.601562-7.699219 47.5-8.800781 27-1.199219 35.101562-1.5 103.398438-1.5 68.402343 0 76.5.300781 103.402343 1.5 25 1.101562 38.5 5.300781 47.5 8.800781 11.097657 4.097657 21.199219 10.597657 29.398438 19.097657 8.5 8.300781 15 18.300781 19.101562 29.402343 3.5 9 7.699219 22.597657 8.800781 47.5 1.199219 27 1.5 35.097657 1.5 103.398438s-.300781 76.300781-1.5 103.300781zm0 0"/><path d="m256.449219 124.5c-72.597657 0-131.5 58.898438-131.5 131.5s58.902343 131.5 131.5 131.5c72.601562 0 131.5-58.898438 131.5-131.5s-58.898438-131.5-131.5-131.5zm0 216.800781c-47.097657 0-85.300781-38.199219-85.300781-85.300781s38.203124-85.300781 85.300781-85.300781c47.101562 0 85.300781 38.199219 85.300781 85.300781s-38.199219 85.300781-85.300781 85.300781zm0 0"/>
                            <path d="m423.851562 119.300781c0 16.953125-13.746093 30.699219-30.703124 30.699219-16.953126 0-30.699219-13.746094-30.699219-30.699219 0-16.957031 13.746093-30.699219 30.699219-30.699219 16.957031 0 30.703124 13.742188 30.703124 30.699219zm0 0"/>
                        </svg>
                    </a>
                    <a class="inline-block ml-2 md:ml-5" href="#">
                        <svg class="h-8 md:h-12 fill-current mx-auto" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="fillCurrent">
                            <path d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <!-- tasks, maps and weather -->
            <div class="fixed bottom-0 right-0 p-10">
                <div class="relative ml-1">
                    <div v-if="isOpen">

                        <!-- Map -->
                        <div class="map" id="map"> 
                            <div class="relative z-20">
                                <div class="absolute">
                                    <div class="fixed middle h-54 w-80 md:w-120 bg-pink-400 bg-opacity-90 rounded" v-if="map">
                                        map
                                    </div>
                                </div>
                            </div>
                            <button v-if="map" @click="map = false" tabindex="-1" class="fixed z-10 cursor-default inline-block outline-none inset-0 h-full w-full"></button>
                            <button type="submit" @click="map = !map" class="mx-auto bg-pink-400 relative z-10 inline-block text-gray-800 shadow-xl rounded-full outline-none focus:outline-none hover:bg-pink-300">
                                <svg class="fill-current h-10 p-2" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15.817.613A.5.5 0 0 1 16 1v13a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 14.51l-4.902.98A.5.5 0 0 1 0 15V2a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0l4.902.98 4.902-.98a.5.5 0 0 1 .415.103zM10 2.41l-4-.8v11.98l4 .8V2.41zm1 11.98l4-.8V1.61l-4 .8v11.98zm-6-.8V1.61l-4 .8v11.98l4-.8z"/>
                                </svg>
                            </button>     
                        </div>

                        <!-- Note -->
                        <div class="note" id="note">
                            <div class="relative z-20">
                                <div class="absolute">
                                    <!-- large screen 
                                    <div class="fixed inset-y-0 left-0 transform translate-y-1">
                                        <div class="max-h-screen w-auto bg-pink-400 text-gray-700" v-if="note">
                                            <div class="mt-20 px-5 py-10">
                                                <h1 class="text-center font-bold italic text-3xl">Note</h1>
                                                <div class="border border-gray-800 px-10 py-10"></div>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <button v-if="note" @click="note = false" tabindex="-1" class="fixed z-10 cursor-default block outline-none inset-0 h-full w-full"></button>
                            <button type="submit" @click="note = !note" class="mx-auto bg-pink-400 relative z-10 inline-block text-gray-800 shadow-xl rounded-full outline-none focus:outline-none hover:bg-pink-300">
                                <svg class="fill-current h-10 p-2" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7 13l5 3V4a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v12l5-3zm-4 1.234l4-2.4 4 2.4V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v10.234z"/>
                                    <path d="M14 14l-1-.6V2a1 1 0 0 0-1-1H4.268A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v12z"/>
                                </svg>
                            </button>
                        </div>

                        <!-- Weather -->
                        <div class="weather" id="weather">
                            <div class="relative z-20">
                                <div class="absolute">
                                    <!-- large sreens -->
                                    <div class="fixed inset-x-0 bottom-0 transform translate-x-1 mx-24 mb-1 hidden lg:block">
                                        <div class="h-auto w-auto px-10 py-5 bg-pink-200 rounded-t-lg" v-if="cloud">
                                            <div class="font-bold text-4xl italic text-gray-800 text-center">Weather</div>
                                            <div class="flex flex-wrap mt-3">
                                                <div class="">
                                                    <input type="text" v-model="query" class="border-2 border-gray-700 text-gray-800 text-xl bg-pink-200 rounded px-4 py-2 focus:bg-pink-200 focus:bg-opacity-50 outline-none focus:outline-none" @keypress="fetchWeathertwo" placeholder="Search" autocomplete="off">
                                                    <br>
                                                    <button type="submit" class="mt-1 inline-flex font-bold text-md uppercase text-gray-800 bg-pink-300 border-2 border-gray-700 rounded px-2 py-2 hover:bg-gray-700 hover:text-pink-300 focus:outline-none transition duration-100 ease-out" @click="fetchWeather">                                                       
                                                        <span>Search</span> 
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 595.28 841.89" class="h-6 fill-current">
                                                            <path d="M136.67 208.88l354.9 191.63c4.93 2.66 4.93 9.73 0 12.39l-356.4 192.44c-4.69 2.53-10.39-.86-10.39-6.2V469.9c0-3.33 2.33-6.21 5.6-6.89l233.89-49.07c7.44-1.56 7.47-12.17.04-13.77l-233.91-50.6c-3.27-.71-5.59-3.62-5.55-6.96L126.29 215c.06-5.3 5.72-8.63 10.38-6.12z"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="flex content-center ml-10" v-if="typeof weather.main != 'undefined'">
                                                    <div class="relative top-left -mt-4">                                                    
                                                        <div class="font-semibold italic text-sm inline-block"><img :src="getIcon(weather.weather[0].icon)" class="inline-block -mt-3" alt="icon">{{weather.weather[0].main}}, {{weather.weather[0].description}}</div>
                                                    </div>
                                                    <div class="mt-5 mx-10 px-5 text-gray-800 bg-pink-200 rounded">
                                                        <span class="font-black text-6xl">{{Math.round(weather.main.temp)}}°C</span>
                                                        <span class=" text-xl text-gray-600">{{datebuilder()}}</span> 
                                                    </div> 
                                                    <div class="text-left text-gray-800 pl-10">
                                                        <p class="font-bold text-3xl">{{weather.name}},{{weather.sys.country}}</p>
                                                        <div class="mt-1">
                                                            <p class="font-bold text-sm">Wind : {{weather.wind.speed}}km/h, {{weather.wind.deg}}°</p>
                                                            <p class="font-bold text-sm">Coordinates : {{weather.coord.lon}} long, {{weather.coord.lat}} lat</p>
                                                            <p class="font-bold text-sm">Humidity : {{weather.main.humidity}} %</p>
                                                            <p class="font-bold text-sm">Pressure : {{weather.main.pressure}} kP</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- small and medium screens -->
                                    <div class="fixed middle lg:hidden">
                                        <div class="h-auto w-auto px-5 mx-10 py-5 bg-pink-200 rounded-lg" v-if="cloud">
                                            <div class="font-black text-2xl italic text-gray-800 text-center">Weather</div>
                                            <div class="inline-flex mt-2">
                                                <input type="text" v-model="query" class="inline-block border-2 border-gray-700 text-gray-800 text-lg bg-pink-200 rounded-l px-4 py-2 focus:bg-pink-200 focus:bg-opacity-50 outline-none focus:outline-none" placeholder="Search" autocomplete="off">
                                                <button type="submit" class="inline-block ml-0 font-bold text-sm uppercase text-gray-800 bg-pink-300 border-2 border-gray-700 rounded-r px-2 py-2 hover:bg-gray-700 hover:text-pink-300 focus:outline-none transition duration-100 ease-out" @click="fetchWeather">                                                        
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 595.28 841.89" class="h-6 fill-current">
                                                        <path d="M136.67 208.88l354.9 191.63c4.93 2.66 4.93 9.73 0 12.39l-356.4 192.44c-4.69 2.53-10.39-.86-10.39-6.2V469.9c0-3.33 2.33-6.21 5.6-6.89l233.89-49.07c7.44-1.56 7.47-12.17.04-13.77l-233.91-50.6c-3.27-.71-5.59-3.62-5.55-6.96L126.29 215c.06-5.3 5.72-8.63 10.38-6.12z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                            
                                            <div class="" v-if="typeof weather.main != 'undefined'">                                              
                                                <div class="font-bold text-center text-gray-800">
                                                    <div class="font-bold text-3xl">{{weather.name}},{{weather.sys.country}}</div>
                                                    <div class="text-lg font-semibold text-gray-600">{{datebuilder()}}</div>
                                                    <div class="font-black text-6xl">{{Math.round(weather.main.temp)}}°C</div>                                                   
                                                    <div class="font-semibold italic text-sm inline-flex">
                                                        <img :src="getIcon(weather.weather[0].icon)" class="inline-block -mt-4" alt="icon">
                                                        <span>{{weather.weather[0].main}}<br>{{weather.weather[0].description}}</span>
                                                    </div>
                                                    <ul class="">
                                                        <li>Wind : {{weather.wind.speed}}km/h, {{weather.wind.deg}}°</li>
                                                        <li>Coordinates : {{weather.coord.lon}} long, {{weather.coord.lat}} lat</li>
                                                        <li>Humidity : {{weather.main.humidity}} %</li>
                                                        <li>Pressure : {{weather.main.pressure}} kP</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button v-if="cloud" @click="cloud = false" tabindex="-1" class="fixed z-10 cursor-default inline-block outline-none inset-0 h-full w-full"></button>
                            <button type="submit" @click="cloud = !cloud" class="mx-auto bg-pink-400 relative z-10 inline-block text-gray-800 shadow-xl rounded-full outline-none focus:outline-none hover:bg-pink-300">
                                <svg class="fill-current h-10 p-2 " viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4.887 7.2l-.964-.165A2.5 2.5 0 1 0 3.5 12h10a1.5 1.5 0 0 0 .237-2.981L12.7 8.854l.216-1.028a4 4 0 1 0-7.843-1.587l-.185.96zm9.084.341a5 5 0 0 0-9.88-1.492A3.5 3.5 0 1 0 3.5 13h9.999a2.5 2.5 0 0 0 .394-4.968c.033-.16.06-.324.077-.49z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <button v-if="isOpen" @click="isOpen = false" tabindex="-1" class="fixed cursor-default inline-block outline-none inset-0 h-full w-full"></button>
                <button type="submit" @click="isOpen = !isOpen" :class="isOpen ? 'hidden':'block'" class="bg-pink-400 text-gray-800 active:transition-all active:ease-in active:duration-800 shadow-2xl rounded-full outline-none focus:outline-none hover:bg-pink-300">
                    <svg class="fill-current h-12 md:h-14" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                      </svg>
                </button>
                <button type="submit"  @click="isOpen = !isOpen" :class="isOpen ? 'block':'hidden'" class="bg-pink-400 text-gray-800 active:transition-all active:ease-in active:duration-800 shadow-2xl rounded-full outline-none focus:outline-none hover:bg-pink-300">
                    <svg class="fill-current h-12 md:h-14" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg>
                </button>
            </div>
            
        </footer>
    </div>

    <script src="../script/vue.js"></script>
    <script src="../script/script.js"></script>
</body>
</html>